---
import Arrow from '../components/Arrow.astro';
import Logo from '../components/Logo.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio" description="My work experience">
	<main>
		<section class="min-h-screen bg-[#140D0C] text-white flex flex-col gap-4 p-4 md:p-20 py-6 justify-center">
			<div class="container h-full flex-1 flex flex-col justify-between gap-4">
				<header class="flex justify-center items-center">
					<Logo class="w-12"/>
				</header>

				<div class="flex-1"></div>
				<div class="flex-1"></div>

				<div class="flex flex-col">
					<span class="opacity-70">
						<a 
							class="text-md pl-1 z-10 underline cursor-pointer show-late"
							href="https://github.com/al-march"
							target="_blank"
						>
							al-march
						</a>
					</span>
					<h1 class="text-9xl font-bold pb-2">
						<span id="who" class="whitespace-nowrap">Who</span> 
						<span id="am-i" class="whitespace-nowrap">am I?</span>
					</h1>
					<p class="opacity-80 max-w-[600px] pl-1 show-late">
						My name is Alexander and I am a frontend developer with a focus on Angular.
						<br>
						I have more than 4 years of commercial experience. 
						I have also worked with many other technologies in the frontend world. 
						I try to keep myself up to date and am constantly 
						looking for new ways to improve my competencies.
					</p>
				</div>

				<div class="flex-1"></div>

				<a class="scroll-down" href="#sect-1">
					<Arrow class="w-6 icon"/>
					<span class="text">Scroll down</span>
				</a>
			</div>
		</section>

		<section id="sect-1" class="min-h-screen p-4 md:p-20 py-6 flex items-center bg-[#F6F7FB]">
			<div class="w-full flex flex-col-reverse md:flex-row gap-4 justify-between items-center">
				<article class="flex flex-col gap-2 flex-1">
					<header class="leading-6">
						<span class="text-sm opacity-70">Sept 3 2021</span>
						<h2 class="font-bold text-2xl">VK</h2>
					</header>

					<ul class="flex flex-col gap-4">
						<li class="max-w-[390px]">
							<p class="opacity-60">Description: </p>

							<div class="opacity-80">
								The largest company in Russia with a wide range 
								of competencies in different areas of development.
							</div>
						</li>
						<li>
							<p class="opacity-60">Job duties: </p>

							<div class="opacity-80">
								<ol class="pl-4 list-disc leading-5">
									<li>Development of administrative panels</li>
									<li>Creating NPM libraries</li>
									<li>Designing the architecture of Frontend applications</li>
								</ol>
							</div>
						</li>
						<li>
							<p class="opacity-60">Stack: </p>

							<div class="opacity-80">
								<span>Angular</span>,
								<span>React</span>,
								<span>Java</span>
							</div>
						</li>
					</ul>

					<a class="te underline" href="#">See more</a>
				</article>

				<div class="flex justify-center items-center flex-1">
					VK
				</div>
			</div>
		</section>

		<section id="sect-2" class="min-h-screen p-4 md:p-20 py-6 flex items-center bg-[#FFF9FA]">
			<div class="w-full flex flex-col-reverse md:flex-row gap-4 justify-between items-center">
				<article class="flex flex-col gap-2 flex-1">
					<header class="leading-6">
						<span class="text-sm opacity-70">Sep 20 2020 — Aug 10 2021</span>
						<h2 class="font-bold text-2xl">MTS</h2>
					</header>

					<ul class="flex flex-col gap-4">
						<li class="max-w-[390px]">
							<p class="opacity-60">Description: </p>

							<div class="opacity-80">
								Large telecom company developing its own IT infrastructure
							</div>
						</li>
						<li>
							<p class="opacity-60">Job duties: </p>

							<div class="opacity-80">
								<ol class="pl-4 list-disc leading-5">
									<li>Development of the company's internal service</li>
									<li>Writing TOR for Rest API</li>
									<li>Technical debt description</li>
								</ol>
							</div>
						</li>
						<li>
							<p class="opacity-60">Stack: </p>

							<div class="opacity-80">
								<span>Angular</span>,
								<span>Node.js</span>,
								<span>NgXs</span>,
								<span>Angular Material</span>
							</div>
						</li>
					</ul>

					<a class="te underline" href="#">See more</a>
				</article>

				<div class="flex justify-center items-center flex-1">
					MTS
				</div>
			</div>
		</section>

		<section id="sect-3" class="min-h-screen p-4 md:p-20 py-6 flex items-center bg-[#ECF1EF]">
			<div class="w-full flex flex-col-reverse md:flex-row gap-4 justify-between items-center">
				<article class="flex flex-col gap-2 flex-1">
					<header class="leading-6">
						<span class="text-sm opacity-70">Feb 12 2018 — Aug 30 2020</span>
						<h2 class="font-bold text-2xl">FMedia</h2>
					</header>

					<ul class="flex flex-col gap-4">
						<li class="max-w-[390px]">
							<p class="opacity-60">Description: </p>

							<div class="opacity-80">
								Internet Marketing Company
							</div>
						</li>
						<li>
							<p class="opacity-60">Job duties: </p>

							<div class="opacity-80">
								<ol class="pl-4 list-disc leading-5">
									<li>Development of the admin panel</li>
									<li>Creation of promotional websites</li>
									<li>Desktop application design</li>
								</ol>
							</div>
						</li>
						<li>
							<p class="opacity-60">Stack: </p>

							<div class="opacity-80">
								<span>Angular</span>,
								<span>Docker</span>,
								<span>Electron</span>,
								<span>Angular Material</span>
							</div>
						</li>
					</ul>

					<a class="te underline" href="#">See more</a>
				</article>

				<div class="flex justify-center items-center flex-1">
					FMedia
				</div>
			</div>
		</section>

		<footer class="flex flex-col p-4 md:p-20 py-6 gap-6 text-white bg-[#140D0C]">
			<h3 class="text-4xl font-bold py-10">
				Contact with me
			</h3>

			<section>
				<p class="font-bold text-2xl">Contact</p>
				<a class="c-accent" href="mailto:valverin95@gmail.com">valverin95@gmail.com</a>
			</section>

			<section>
				<p class="font-bold text-2xl">Social</p>
				<div class="flex gap-4">
					<a class="c-accent underline" href="#">Linkedln</a>
					<a class="c-accent underline" href="#">Telegram</a>
					<a class="c-accent underline" href="#">Habr</a>
					<a class="c-accent underline" href="#">Github</a>
				</div>
			</section>

			<div class="flex-1"></div>

			<div class="pb-10">
				<p class="opacity-50 text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil velit nulla laboriosam.</p>
				<p class="text-center">
					<span class="opacity-50">Developed by </span>
					<a class="c-accent" href="https://github.com/al-march">al-march</a>
				</p>
			</div>
		</footer>
	</main>
</Layout>

<script>
	letterAnimation('#who');
	letterAnimation('#am-i');

	function letterAnimation(selector: string) {
		const el = document.querySelector(selector);
		if (el instanceof HTMLElement) {
			const text = el.innerText;
			el.classList.add('waviy');
			el.innerHTML = '';

			for (let i = 0; i < text.length; i++) {
				const word = text[i];
				const span = document.createElement('span');
				span.setAttribute('style', `--i:${i + 1}`);
				span.classList.add('word');
				
				span.innerHTML = word === ' ' 
					? '&nbsp;'
					: word;

				el.appendChild(span);
			}
		}
	}
</script>

<style lang="scss">
.sect {
	@apply p-4 md:p-20 py-6;
}

.scroll-down {
	@apply flex flex-col gap-4 justify-center items-center;

	.icon {
		animation: arrowDown 1.5s ease-in-out infinite;
	}

	&:hover {
		.icon {
			@apply scale-110 translate-y-1;
		}
	}

	.icon {
		@apply transition-all;
	}
}

.c-accent {
	color: #FE5900;
}

@keyframes arrowDown {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}
</style>

<style is:global>
.show-late {
	opacity: 0;
	animation: show .7s ;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

.waviy .word {
	opacity: 0;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s ;
	animation-fill-mode: forwards;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {
  from {
		opacity: 0;
    transform: scaleX(-1)
  }
  to {
		opacity: 1;
    transform: scaleX(1)
  }
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: inherit;
	}
}
</style>