---
import Arrow from '../components/Arrow.astro';
import Logo from '../components/Logo.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio">
	<main class="text-white">
		<section class="h-screen bg-[#140D0C] flex flex-col gap-4 p-20 py-6 justify-center items-center">
			<div class="container h-full flex flex-col justify-between gap-4">
				<header class="flex justify-center items-center">
					<Logo className="w-12"/>
				</header>
	
				<div class="flex-1"></div>

				<div class="flex flex-col max-w-[420px]">
					<span class="text-sm opacity-75">40.990463, 29.136827</span>
					<h1 class="text-2xl font-bold pb-3">Who am I?</h1>
					<p class="opacity-80">
						Metehan is a passionate interface and experience designer from Istanbul, Turkey. I’m working on mobile application and web design project. If you need more detail you can see my
					</p>
				</div>

				<div class="flex flex-col gap-4 justify-center items-center">
					<Arrow className="w-6"/>
					<span>Scroll down</span>
				</div>
			</div>
		</section>
	</main>
</Layout>