---

const {className = ''} = Astro.props;
---

<span class={className}>
  <svg viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11 1V21M11 21L1 11M11 21L21 11" stroke="#F9F2F2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>    
</span>