---
const {className = ''} = Astro.props;
---

<span class={className}>
  <svg viewBox="0 0 638 638" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M45.5721 136.711H592.429M45.5721 501.283H592.429" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M136.711 592.422L136.711 45.5651M501.282 592.422L501.282 45.565" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M429.028 211.021V417.144H404.882V235.756L318.899 417.144H309.771L221.138 232.811V417.144H206.121V211.021H235.861L318.899 385.342L401.349 211.021H429.028Z" fill="currentColor"/>
  </svg>
</span>
